:root {
  --nw: 100px;
  --nis: 50px;
  --bgc: black;
  --fgc: #090909;
  --soc: #8a5aab;
  --br: 0.3em;
}

/*i'm disabling the toasts because of that annoying error that appears every time you play something here, it's annoying*/
#toast-container {
  display: none;
}

body,
#board .board-headline,
h2,
#detail .holder .actionButtons .button-b .icon,
#detail .details .title,
#detail .details-movie .title {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif !important;
}

body {
  scrollbar-color: rgba(255, 255, 255, 0.5) var(--fgc);
}

::-webkit-scrollbar-track {
  background: var(--fgc);
  border-radius: var(--br);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: var(--br);
}

/*#board .board-container-wrapper {
    padding-top: calc(50vh - 125px);
}*/
#board .board-container-wrapper,
#discover .holder {
  top: 0;
  bottom: 0;
}

.settings-container .sections {
  background-color: var(--bgc);
}

#board .board-headline {
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
}

#board .board-notif li .thumb,
#board li.board-item .thumb,
#board .board-notif li .placeholder,
#board li.board-item .placeholder,
.items .thumb,
#board .recent-board .resume,
#library .items li,
#library .items .ng-scope .thumb,
#discover .holder .items li,
#discover .genre-select li,
.info-box .overlay,
#detail .holder .actionButtons .button-b {
  border: none;
  outline: none !important;
}

#discover .filter .type li,
#discover .filter .sort li,
#library .lib-type li,
#calendar li,
#calendar #future-episodes .episode,
.sidebar .episodes-list li:not(.ads) {
  transition: 0.1s;
}

#discover .filter .type li:focus,
#discover .filter .sort li:focus,
#library .lib-type li:focus,
#calendar li:focus,
#calendar #future-episodes .episode:focus,
.sidebar .episodes-list li:not(.ads):focus {
  outline: none !important;
  box-shadow: inset 0 0 0 2px white;
}

#board .notif .thumb:after,
#board .board-item .thumb:after,
#board .recent-board .resume .thumb:after,
#library .items .ng-scope .thumb:after,
#discover .holder .item .thumb:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br);

  transition: 0.1s;
  /*stremio's browser doesn't supports curved outlines :(
  /*outline: 2px solid #fff0;*/
  box-shadow: 0 0 0 2px #fff0, 0 0 0 0 0 #fff0;
}

#board .notif:hover .thumb:after,
#board .board-item:hover .thumb:after,
#board .recent-board .resume:hover .thumb:after,
#library .items .ng-scope:hover .thumb:after,
#discover .holder .item:hover .thumb:after {
  /*outline: 2px solid white;*/
  box-shadow: 0 0 0 2px white, inset 0 0 3px 0 #000a;
}

#board .notif:focus .thumb:after,
#board .board-item:focus .thumb:after,
#board .recent-board .resume:focus .thumb:after,
#library .items .ng-scope:focus .thumb:after,
#discover .holder .item:focus .thumb:after {
  /*outline: 3px solid white;*/
  box-shadow: 0 0 0 3px white, inset 0 0 3px 0 #000a;
}

@media all {
  #board .recent-board li {
    width: 19% !important;
    margin: 0.7%;
  }
}
@media (min-width: 800px) {
  #board .recent-board li {
    width: 18.66% !important;
  }
}
@media (min-width: 900px) {
  #board .recent-board li {
    width: 15.66% !important;
  }
}
@media (min-width: 1200px) {
  #board .recent-board li {
    width: 13.28% !important;
  }
}

.items.recent-board li,
#library .items li,
#discover .holder .items li {
  overflow: visible;
}

#board .board-item .info {
  display: none;
}

#board .notif .thumb,
#board .board-item .thumb {
  height: 100%;
}

.items li::before {
  padding-top: 146.4% !important;
}

.items {
  scrollbar-width: none;
}

.items::-webkit-scrollbar {
  display: none;
}

.thumb img,
.info-box,
#detail .holder .actionButtons .button-b,
.streams-holder,
.sidebar .episodes-list li,
.sidebar .season-chooser li,
li,
#detail .addons-catalogue-link a {
  border-radius: var(--br);
}

#detail .sidebar {
  top: 0;
  right: var(--nw);
}

#detail .cover,
#detail .cover-overlay,
#detail .loader {
  position: fixed;
  left: 0;
}

#detail .details-less-info {
  top: 0;
}

.streams-holder,
.streams-play {
  height: 86px;
}

.streams-play img {
  position: relative;
  top: 15px;
}

.streams-name {
  height: 16px;
  width: 145px;
  margin: 5px 5px 0px;
}

.resume-stream {
  top: 21px;
}

.streams-quality {
  margin: 0 5px 5px 5px;
  max-width: 145px;
}

.streams-inline {
  width: 240px;
}

.streams-list {
  width: 235px;
}

.streams-container {
  max-width: 150px;
}

.streams-eptitle.shown {
  display: none;
}

#detail .addons-catalogue-link a {
  font-size: 14px;
}

/* here's my tentative at showing the description without having to click anything. you may find that it looks kind of weird because it always is on the same position, but it's the only way i found with just css and being a little dum dum*/

#detail .details,
#detail .details-movie,
#detail .details .title,
#detail .details-movie .title,
#detail .details-bottom ul li,
.details-summary p.episode-desc {
  font-size: 16px;
}

#detail .details-bottom .title {
  line-height: 1;
}

#detail .details-bottom .title:after {
  content: ':';
}

#detail .details-bottom .title-content:not(.genre) {
  line-height: 1;
  position: relative;
  bottom: 16px;
  margin-left: 80px;
}

#detail .details-bottom div:not(.genre) {
  height: 16px;
  overflow: visible;
}

#detail .details-bottom .title-content.genre {
  font-size: 14px;
  opacity: 0.6;
}

#detail .details-bottom .title-content.genre a:after {
  opacity: 0.8;
}

.details-more,
.details-summary .title {
  display: none;
}

#detail .details-bottom {
  margin-bottom: 0;
  bottom: 9em;
}

.details-more-info {
  bottom: 0;
  opacity: 1;
}

.details-summary p.episode-desc {
  height: 96px;
}

/**/

#discover .filter .type li.selected,
#discover .filter .sort li.selected,
#library .lib-type li.selected,
#discover .genre-select li.selected,
#series-calendar .selectMonth ul li.current {
  background-color: #0000;
  font-weight: bold;
}

#series-calendar {
  font-weight: normal;
}

#discover .filter .type li,
#discover .filter .sort li,
#discover .genre-select li {
  color: white;
}

#discover .filter .type li:hover,
#discover .filter .sort li:hover,
#discover .genre-select li:hover,
#library .lib-type li:hover,
#library .sort-filter li:hover {
  background-color: #0000;
}

#window-controls:not(.player) #user-panel,
body #search-bar input {
  background-color: var(--fgc);
  border-radius: var(--br);
  color: white !important;
  box-shadow: 0 0 5px var(--fgc);
}

::placeholder {
  color: white;
  opacity: 0.6;
}

/* i don't like that it shows my email lol*/
#window-controls #user-panel .user-info .email-container .email {
  display: none;
}

#window-controls:not(.player) #user-panel .section .option {
  transition: 0.1s;
}

#window-controls:not(.player) #user-panel .section .option:hover {
  background-color: var(--soc);
}

#window-controls:not(.player) #user-panel .section .option .icon {
  color: white;
}

#window-controls:not(.player) #user-panel {
  width: 250px;
  position: fixed;
  left: var(--nw);
  bottom: 0;
  z-index: 1;
}

html,
#body {
  background: var(--bgc) !important;
}

#header {
  height: 100vh !important;
  width: var(--nw) !important;
  background: #0000 !important;
  padding-top: calc(50vh - var(--nis) * 3);
}

#window-controls:not(.player) {
  position: fixed;
  left: 0;
  top: unset !important;
  bottom: calc(var(--nis) / 2) !important;
  width: 20px;
}

#header::before {
  content: '';
  background: url(theme_img/stremio.png);
  width: var(--nis);
  height: var(--nis);
  position: absolute;
  background-size: var(--nis);
  left: calc((var(--nw) - var(--nis)) / 2);
  top: calc((var(--nw) - var(--nis)) / 2);
}

#body {
  width: calc(100vw - var(--nw));
  left: var(--nw);
  top: 0;
}

#window-controls:not(.player) li .icon,
body #header .tab .icon {
  text-align: center;
  margin: 0 !important;
  padding-block: calc(var(--nis) / 3);
  width: var(--nw) !important;
  height: calc(var(--nis) / 3);
}

body #header .tab {
  text-align: center;
}

body #header .tab .icon,
#window-controls:not(.player) li .icon,
#window-controls:not(.player) .user-menu .icon-ic_more,
body #search-bar button {
  font-size: 18px !important;
  line-height: 1 !important;
  transition: 0.3s;
}

body #header .tab {
  width: var(--nw) !important;
  height: var(--nis) !important;
}

body #search-bar {
  top: calc(50vh + var(--nw) / 2);
  left: 0;
  height: var(--nis);
  width: var(--nw);
  background-color: #0000;
}

body #search-bar .icon-ic_x {
  left: calc(var(--nw) + 290px);
  top: 19px;
  visibility: hidden;
}

body #search-bar button {
  right: unset !important;
  width: var(--nw);
  background-color: #0000;
}

body #search-bar input {
  right: 0;
  left: var(--nw);
  visibility: hidden;
  transition: 0.1s;
  opacity: 0;
  width: 300px;
}

body #search-bar:hover input {
  opacity: 1;
  visibility: visible;
}

body #search-bar:hover .icon-ic_x {
  visibility: visible;
}

body #header .tab .icon.icon-ic_back_ios {
  height: 36px !important;
  padding-block: calc((var(--nis) - 36px) / 2 + var(--nis) * 2);
  font-size: 36px !important;
}

.tab .ng-scope.ng-binding,
.addons-handle,
.board-row-icon.icon {
  display: none;
}

body #header .tab,
#window-controls:not(.player) li {
  background-color: #0000 !important;
}

body #header .tab .notif,
body .player-handle .tab .notif,
body .addons-handle .tab .notif {
  background-color: #0000;
  opacity: 1 !important;
  border-radius: 0;
  padding-inline: 0;
}

body #header .tab.selected .icon,
#window-controls:not(.player) li.selected .icon,
#discover .filter .type li.selected,
#discover .filter .sort li.selected,
#discover .genre-select li.selected,
#library .lib-type li.selected,
#library .sort-filter li.selected {
  opacity: 1 !important;
}

body #header .tab .icon:hover,
#window-controls:not(.player) li .icon:hover,
body #search-bar:hover button,
#discover .filter .type li:hover,
#discover .filter .sort li:hover,
#discover .genre-select li:hover,
#library .lib-type li:hover,
#library .sort-filter li:hover {
  opacity: 0.8 !important;
}

body #header .tab .icon,
#window-controls:not(.player) li .icon,
body #search-bar button,
#discover .filter .type li,
#discover .filter .sort li,
#discover .genre-select li,
#library .lib-type li,
#library .sort-filter li {
  opacity: 0.6;
}

#board .board-row {
  padding-top: 0;
  padding-bottom: 0;
}

#board .carousel-right {
  background: linear-gradient(to right, #0000 0%, var(--bgc) 70%, var(--bgc) 100%);
}

#board .carousel-left {
  background: linear-gradient(to right, var(--bgc) 0%, var(--bgc) 30%, #07070700 100%);
}

#board .arrow-center {
  top: calc(50% - 32px);
}

body #header .tab {
  padding: 0 !important;
}

body .player-handle .tab .icon {
  right: 100px !important;
}

.items .notification {
  background: white;
  color: black;
  border-radius: 0 0 var(--br) var(--br);
}

.items .notification .ng-scope.ng-binding {
  color: black;
}
